.background-about{

    background-image: url("../images/about.jpg");
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
    color:black;
  
  }

  .m-top{
      position: absolute;
      margin: auto;
      left: 7vw;
      margin-top: 15vw;
  }

  