.background{

    background-image: url("../images/bg_home.jpg");
    position: relative;
   background-size: cover;
    height: 100vh;
    width: 100vw;
   
    background-repeat: no-repeat;
  
    opacity: 0.8;
  }

  .paragraph{
      
      height: 29vh;
      width: 50vw;
      top: 22vh;
      left: 48vw;
      position: absolute;
      margin-top: 12vh;
     
      color: whitesmoke;
  }

  .button{
     position: absolute;
     top: 50vh;
    left: 50vw;
    background-image: linear-gradient(rgb(15, 123, 238),aqua);
    /* border: 2px solid orangered; */
    border-radius: 3vh;
    padding: 1vh 2vh;
    color: black;

  }
  .font{
      font-family:cursive;
      font-size: 2vw;
     
  }